{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>

    <div class="navbar">
        <div>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">Shadowbox</a></li>
                <li><a href="{% url 'p_balance' %}">Pbalance</a></li>
                <li><a href="{% url 'dashboard_2' %}">Dashboard</a></li>
            </ul>
        </div>
        <div>
            <ul class="nav-links">
                {% if user.is_authenticated %}
                    <li>
                        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{% url 'home' %}">
                        </form>
                        <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">Logout</a>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Sign in</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
