/* Dashboard - Analise Integrada Edifício */

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-section {
    width: 15%;
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 2px solid #ddd;
    text-align: center;
}

.left-section img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 10px;
}

.right-section {
    width: 85%;
    min-width: 1000px; /* Set a minimum width for the dashboard */
    padding: 20px;
    overflow-y: auto; /* Keep vertical scrolling */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent content from wrapping */
}

.filters {
    display: flex;
    flex-wrap: wrap;  /* Allow wrapping of filter groups */
    gap: 70px;        /* Space between filter groups */
}

#filter-container {
    display: flex;
    flex-wrap: wrap;  /* Allow wrapping of filter groups */
    gap: 50px;        /* Space between filter groups */
}

/* Filter groups should be displayed side by side */
.filter-group {
    display: flex;
    flex-direction: column; /* Stack label and checkboxes vertically within the filter group */
    min-width: 150px;
    max-width: 300px; /* Control the width of each filter group */
}

#model_filter {
    min-width: 250px;
    max-width: 400px; /* Control the width of each filter group */
}

/* The label inside filter group */
.filter-group label {
    margin-bottom: 5px;
}

/* Style for the checkboxes to stack vertically inside each filter group */
.filter-group div {
    display: flex;
    flex-direction: column; /* Stack checkboxes vertically */
    gap: 5px;               /* Space between checkboxes */
}

.filter-group div input {
    margin-right: 0;        /* Remove right margin for checkboxes */
}

#data-table-container {
    margin-top: 10px;
    width: 100%;
    overflow-x: auto;
}

#data-table {
    width: 1200px;      /* It not limite the table size but reduce the space of the columns when this line is here - do not delete*/
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

#data-table th, #data-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

#data-table th {
    background-color: #f4f4f4;
}

#data-table td:first-child, 
#data-table th:first-child {
    width: 280px !important;
    max-width: 280px;
    min-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

/* Reduce font size in the first column of the body */
#data-table tbody td:first-child {
    font-size: 14px;  /* Default size */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Bold text in all other columns of the body */
#data-table tbody td:not(:first-child) {
    font-weight: bold;
}

#plotly-chart {
    width: 100%; /* Ensures it does not overflow */
    max-width: 100%; /* Prevents it from being wider than the parent */
    overflow-x: auto; /* Allows scrolling if needed */
}

/* Color filter in table header */
.color-filter-container {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-top: 5px;
}

/* Checkbox label (color box) */
.color-filter-container label {
    width: 20px;  /* Adjust size */
    max-width: 20px;
    min-width: 15px;
    height: 25px;
    display: flex;  /* Flex for centering */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Hover effect */
.color-filter-container label:hover {
    opacity: 0.5;
}

.color-filter-checkbox {
    width: 12px;
    height: 12px;
}
